<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="/socket.io.min.js"></script>
</head>
<body>
    {% if authorized %}
    Authorized!
    <div id="tokenHolder" token={{ token }}></div>

    <button type="button" id="debugButton">Debug</button>

    <script src="adminPanel.js"> </script>
    {% else %}
    Unautorized!
    {% endif %}
</body>
</html>
