
html, body {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 0 0 0;
}


#lobby-intro-card{
    width: 600px;
    margin: 0 auto ;
}

#lobby-card-container{
    width: 100%;
    height: 100%;
}

#panorama {
    width: 100vw;
    height: 100vh;
}

#guess-box-container{
    position: absolute;
        bottom: 0;
        z-index: 2;
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
}

#top-ui-container{
    position: absolute;
        top: 0;
        z-index: 2;
        text-align: center;
        width: 100%;
        padding-bottom: 20px;

    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-columns: auto 60vh auto;

    align-items: start;
    justify-items: flex-end;
}

#countdownWrapper{
    display: grid;
    place-items: start end;
}

#LeaderboardTable{
    max-width: 300px;
}

#topLeftUi{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: start start;
}

#countDownDisplay{
    max-width: 50px;
}

.modal-body{
    width: 100%;
    height: 100%;
}

.modal-content{
    width: 60vw;
    height: 70vh;
}

/* #mapcontainer{
    width: 100%;
    height: 100%;
} */

#mapid{
    width: 55vw;
    height: 50vh;
}
/*
#leaderboard-container{

    background-color: red;
} */

#leaderboard-container {
    background: linear-gradient(50deg, #894bd0, #1c57ec, #1cece4, #50eeaa);
    background-size: 800% 800%;

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 5vh 10vh 35vh 50vh;
    -webkit-animation: leaderboardbg 21s ease infinite;
    -moz-animation: leaderboardbg 21s ease infinite;
    animation: leaderboardbg 21s ease infinite;
}

body {
  overscroll-behavior-y: none;
}

@-webkit-keyframes leaderboardbg {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes leaderboardbg {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes leaderboardbg {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}

#colcontainer{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    /* place-items: end end; */
    align-items: end;
}

.colinside-container{
    display: grid;
    place-items: center center;
    /* align-items: center; */
    color: white;
    font-family: "Times New Roman";
    font-size: 18pt;
    justify-content: center;
}

.colinside-container > p {
    margin: auto;
}

#colfirst-container{
    background-color:  red;
    height: 100%;
}
#colsecond-container{
    background-color:  blue;
    height: 50%;
}
#colthird-container{
    background-color:  yellow;
    height: 25%;
}


#admin-display{
    width: 20%;
    height: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;

    overflow-y: auto;
}

#admin-claim{
    width: 20%;
    position: fixed;
    bottom: 0px;
    right: 0px;

    overflow-y: auto;
}
